@import './reset.css';

@font-face {
  font-family: 'helvetica_neue35_thin';
  src: url('../assets/fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/helveticaneue-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: 'helvetica_neue35_thin', sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.video-container {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.content {
  padding-top: 2rem;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

  .current-info {
    padding: 1rem;
    // background: linear-gradient(
    //   135deg,
    //   rgba(255, 255, 255, 0.1),
    //   rgba(255, 255, 255, 0)
    // );
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    // border-radius: 20px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    & > * {
      margin-bottom: 1rem;
    }
    .temperature {
      position: relative;
      font-size: 7.5rem;
      font-weight: normal;

      &::after {
        content: '\00b0';
        position: absolute;
        font-size: 6rem;
      }
    }

    .description {
      font-size: 2rem;
    }
  }
}

.temp-min-max {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 2rem;
}

.location-form {
  display: flex;
  position: relative;
  .location-input {
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    outline: none;
    border: 1px solid rgba(201, 201, 201, 0.411);
    background-color: transparent;
    color: white;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  .form-submit-button {
    position: absolute;
    right: 0.5rem;
    z-index: 10;
    padding: 0;
    display: flex;
    align-items: center;
    height: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    svg {
      pointer-events: none;
      position: relative;
      z-index: -1;
      height: 1.25rem;
      border: none;
      background-color: transparent;
    }
  }
}

.extra-info {
  .weather-3-hours-container {
    display: flex;
    gap: 1rem;
    .item-3-h {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
