@import './reset.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// TAG ELEMENTS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

input {
  font-family: 'Montserrat', sans-serif;
}

// COMBINED

.main-feels-like.loaded,
.hour-temp,
.day-temp-min,
.day-temp-max {
  position: relative;
  &::after {
    content: '\00b0';
    position: absolute;
  }
}

.hour-logo,
.day-item-logo {
  height: 3.125rem;
  width: 3.125rem;
}

.option,
.location-input,
.search-container,
.hours-container,
.days-container,
.technical-card {
  overflow: hidden;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.location-input,
.search-container,
.hours-container,
.days-container,
.technical-card {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.nav,
.hours-container,
.days-container {
  font-weight: 500;
}

.hours-container,
.days-container,
.uvi-card {
  padding: 1rem;
}

.units,
.favorites,
.units-menu,
.favorites-menu,
.search-button {
  cursor: pointer;
}

// STRUCTURED

.video-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    pointer-events: none;
  }
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 0.5rem;
  font-size: 1rem;
  color: white;

  .options {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    .author {
      display: flex;
      align-items: center;
      .git-logo {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.25rem 0 0;
      }
    }
    .units {
      margin-right: 1rem;
      margin-left: auto;
    }
  }

  .units,
  .favorites {
    padding: 0.25rem 0;
  }
  .units-menu,
  .favorites-menu {
    position: absolute;
    top: 2rem;
    display: none;
    width: 150px;
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    text-align: center;
    color: $white;
    background-color: $dark-grey;
  }

  .units-menu,
  .favorites-menu {
    display: none;

    & > li {
      padding: 0.75rem;
      border-radius: 10px;
      &:hover,
      &:active {
        color: $white;
        background-color: $blue;
      }
    }
  }

  .units-menu.active,
  .favorites-menu.active {
    display: block;
  }
}

.content {
  padding: 0 1rem 3rem 1rem;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;

  .main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    .location {
      font-size: 2rem;
    }

    .temperature {
      position: relative;
      z-index: -10;
      font-size: 6rem;
      font-weight: 200;
    }
    .temperature.loaded {
      &::after {
        content: '\00b0';
        position: absolute;
        font-size: 5rem;
      }
    }

    .description,
    .main-feels-like {
      font-size: 1.5rem;
    }
  }
}

.main-temp-min-max {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.location-form {
  display: flex;
  position: relative;
  font-size: 1rem;

  .location-input {
    width: 100%;
    padding-left: 0.5rem;
    outline: none;
    font-size: 1rem;
    line-height: 2rem;
    background-color: transparent;
    color: white;

    &:focus + .location-loader + .search-button > svg {
      opacity: 1;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .location-loader {
    position: absolute;
    right: 2rem;
    display: none;
    height: 2rem;
    width: 2rem;
    transform: scale(0.275);
  }
  .location-loader.active {
    display: grid;
    place-content: center;
  }

  .search-button {
    position: absolute;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    svg {
      position: relative;
      z-index: 20;
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      // LIGHTGREY
      filter: invert(93%) sepia(63%) saturate(23%) hue-rotate(293deg)
        brightness(104%) contrast(65%);
      opacity: 0.5;
    }
  }
}

.error-message.active {
  display: block;
}
.error-message {
  display: none;
  padding: 0.5rem;
  border-radius: 0;
  text-align: left;
  font-size: 1rem;
  color: $lightgrey;
}

.autocomplete {
  overflow: hidden;
  .suggestion.active {
    display: block;
  }
  .suggestion {
    display: none;
    padding: 0.5rem;
    border-radius: 0 !important;
    border-bottom: 1px solid $white-transparent;
    text-align: left;
    font-size: 1rem;
    color: $lightgrey;
    &:hover,
    &:focus {
      background-color: $white-transparent;
    }
  }
}

.detailed-info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 800px;
  .hours-container {
    position: relative;
    grid-column: 1 / 3;
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 3.6rem 1rem 1.25rem 1rem;
    .hour-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: fit-content;
      .hour-hour,
      .hour-temp {
        font-size: 1rem;
      }
    }
  }
  .days-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .day-item:first-child {
      margin-top: 0;
    }
    .day-item:nth-child(2) {
      margin-top: 0.25rem;
    }
    .day-item {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      margin-top: 1rem;
      font-size: 1rem;
      .week-day {
        width: 6ch;
        text-align: start;
      }
      .day-temp-min,
      .day-temp-max {
        position: relative;
        width: 3ch;
        font-size: 1rem;
      }
      .meter {
        flex: 1;
        display: inline-block;
        height: 0.375rem;
        margin: 0 1rem;
        border-radius: 1rem;
        border: none;
        outline: none;
      }
    }
  }
  .technical-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    text-align: left;

    .technical-card {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
      padding: 1rem;
      .card-value {
        font-size: 1.25rem;
        font-weight: 500;
      }
      .card-text {
        font-size: 0.95rem;
        opacity: 0.8;
      }
    }
    .technical-card:nth-child(3),
    .technical-card:nth-child(5) {
      grid-column: 1/2;
    }
    .technical-card:nth-child(4),
    .technical-card:nth-child(6) {
      grid-column: 2/3;
    }
  }
}

.title-and-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0.5;
  & > :first-child {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .icon {
    position: relative;
    top: -0.1rem;
    align-self: flex-start;
    margin-left: 0.5rem;
    height: 1.375rem;
    width: 1.375rem;
    filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(81deg)
      brightness(106%) contrast(100%);
  }
  .icon.humidity {
    margin-left: 0.25rem;
  }
  .icon.forecast-hours,
  .icon.forecast-days {
    top: 0;
    height: 1.75rem;
    width: 1.75rem;
    filter: none;
  }
  .icon.forecast-days {
    transform: scaleX(-1);
  }
}
.title-and-icon.hours {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

::-webkit-scrollbar {
  width: 17.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: rgba(248, 248, 255, 0.5);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: ghostwhite;
}

// METER GRADIENTS FOR DAILY OSCILLATION
.very-cold {
  background: rgb(0, 151, 249);
  background: linear-gradient(90deg, rgba(0, 151, 249, 1) 0%);
}

.cold {
  background: rgb(155, 221, 255, 1);
  background: linear-gradient(90deg, rgba(155, 221, 255, 1) 100%);
}

.warm {
  background: rgb(52, 255, 0, 1);
  background: linear-gradient(90deg, rgba(52, 255, 0, 1) 100%);
}

.very-warm {
  background: rgb(241, 228, 35);
  background: linear-gradient(90deg, rgba(241, 228, 35, 1) 0%);
}

.hot {
  background: rgba(255, 48, 48, 1);
  background: linear-gradient(90deg, rgba(255, 48, 48, 1) 100%);
}

.very-cold-to-cold {
  background: rgb(0, 151, 249);
  background: linear-gradient(
    90deg,
    rgba(0, 151, 249, 1) 0%,
    rgba(155, 221, 255, 1) 100%
  );
}

.very-cold-to-warm {
  background: rgb(0, 155, 249);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 249, 1) 0%,
    rgba(119, 209, 255, 1) 50%,
    rgba(52, 255, 0, 1) 100%
  );
}

.cold-to-warm {
  background: rgb(119, 209, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 209, 255, 1) 0%,
    rgba(86, 232, 169, 1) 50%,
    rgba(52, 255, 0, 1) 100%
  );
}

.cold-to-very-warm {
  background: rgb(119, 209, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 209, 255, 1) 0%,
    rgba(94, 226, 185, 1) 25%,
    rgba(52, 255, 0, 1) 50%,
    rgba(223, 245, 0, 1) 75%,
    rgba(255, 239, 0, 1) 100%
  );
}

.warm-to-hot {
  background: rgb(52, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(52, 255, 0, 1) 0%,
    rgba(241, 228, 35, 1) 50%,
    rgba(255, 48, 48, 1) 100%
  );
}

.warm-to-very-warm {
  background: rgb(52, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(52, 255, 0, 1) 0%,
    rgba(203, 255, 38, 1) 50%,
    rgba(255, 235, 0, 1) 100%
  );
}

.very-warm-to-hot {
  background: rgb(241, 228, 35);
  background: linear-gradient(
    90deg,
    rgba(241, 228, 35, 1) 0%,
    rgba(255, 48, 48, 1) 100%
  );
}

.loading-screen.active {
  display: grid;
  place-items: center;
}

.loading-screen {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $blue transparent transparent transparent;
}

.lds-ring.search div {
  position: absolute;
  inset: 0;
  margin: auto;
  border-color: $lightgrey transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .detailed-info {
    .days-container,
    .technical-container {
      grid-column: 1/3;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav {
    .options {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0.75rem;
      .units {
        margin-right: 0.75rem;
        margin-left: auto;
      }

      & > * {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .content {
    .main-info {
      .location {
        font-size: 2rem;
      }
    }
    .detailed-info {
      .days-container {
        .day-item {
          .week-day {
            width: 5ch;
          }
          .meter {
            margin: 0 2.5%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .technical-container {
    & > * {
      grid-column: 1/3 !important;
    }
  }
}
