@import './reset.css';

@font-face {
  font-family: 'helvetica_neue35_thin';
  src: url('../assets/fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/helveticaneue-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: 'helvetica_neue35_thin', sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

.video-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  pointer-events: none;
}

.content {
  padding: 2rem;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

  .main-info {
    padding: 1rem;
    & > * {
      margin-bottom: 1rem;
    }
    .temperature {
      position: relative;
      font-size: 7.5rem;
      font-weight: normal;

      &::after {
        content: '\00b0';
        position: absolute;
        font-size: 6rem;
      }
    }

    .description {
      font-size: 2rem;
    }

    .main-feels-like {
      font-size: 2rem;
    }
  }
}

.main-temp-min-max {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.location-form {
  display: flex;
  position: relative;
  .location-input {
    width: 100%;
    padding-left: 0.5rem;
    outline: none;
    font-size: 1rem;
    line-height: 2rem;
    background-color: transparent;
    color: white;
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    &:focus + .search-button > svg {
      opacity: 75;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .search-button {
    position: absolute;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    svg {
      pointer-events: none;
      position: relative;
      z-index: -1;
      height: 1.25rem;
      border: none;
      filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(81deg)
        brightness(106%) contrast(100%);
      opacity: 0.25;
    }
  }
}

.detailed-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 900px;
  .hours-container {
    grid-column: 1 / 3;
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem;
    .hour-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      .hour-hour,
      .hour-temp {
        font-size: 2rem;
      }
      img {
        height: 60px;
        width: 60px;
      }
      .hour-temp {
        position: relative;
        &::after {
          content: '\00b0';
          position: absolute;
        }
      }
    }
  }
  .days-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .day-item {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      img {
        height: 50px;
        width: 50px;
      }
      .week-day {
        width: 6ch;
        text-align: start;
      }
      .day-temp-min,
      .day-temp-max {
        position: relative;
        width: 3ch;
        font-size: 1.25rem;
        &::after {
          content: '\00b0';
          position: absolute;
          font-size: 1.25rem;
        }
      }
      .meter {
        flex: 1;
        display: inline-block;
        height: 0.5rem;
        margin: 0 1rem;
        border-radius: 1rem;
        border: none;
        outline: none;
      }
    }
  }
  .technical-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;

    .technical-card {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      .title-and-icon {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.125rem;
        opacity: 0.5;
        .icon {
          position: relative;
          top: -0.1rem;
          align-self: flex-start;
          margin-left: 0.5rem;
          height: 1.375rem;
          width: 1.375rem;
          filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(81deg)
            brightness(106%) contrast(100%);
        }
        .icon.humidity {
          margin-left: 0.25rem;
        }
      }
      .card-value {
        font-size: 2.25rem;
        font-weight: bold;
      }
      .card-text {
        letter-spacing: 1px;
        font-size: 1rem;
      }
    }
  }
}

// .icon {
//   height: 24px;
//   width: 24px;
//   filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(81deg) brightness(106%)
//     contrast(100%);
//   opacity: 0.25;
// }

.main-feels-like,
.hour-temp,
.day-temp-min,
.day-temp-max {
  position: relative;
  &::after {
    content: '\00b0';
    position: absolute;
  }
}

.location-input,
.hours-container,
.days-container,
.technical-card {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.hours-container,
.days-container,
.uvi-card {
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 17.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: rgba(248, 248, 255, 0.5);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: ghostwhite;
}

// METER GRADIENTS FOR DAILY OSCILLATION
.very-cold {
  background: rgb(0, 151, 249);
  background: linear-gradient(90deg, rgba(0, 151, 249, 1) 0%);
}

.cold {
  background: rgb(155, 221, 255, 1);
  background: linear-gradient(90deg, rgba(155, 221, 255, 1) 100%);
}

.warm {
  background: rgb(52, 255, 0, 1);
  background: linear-gradient(90deg, rgba(52, 255, 0, 1) 100%);
}

.very-warm {
  background: rgb(241, 228, 35);
  background: linear-gradient(90deg, rgba(241, 228, 35, 1) 0%);
}

.hot {
  background: rgba(255, 48, 48, 1);
  background: linear-gradient(90deg, rgba(255, 48, 48, 1) 100%);
}

.very-cold-to-cold {
  background: rgb(0, 151, 249);
  background: linear-gradient(
    90deg,
    rgba(0, 151, 249, 1) 0%,
    rgba(155, 221, 255, 1) 100%
  );
}

.very-cold-to-warm {
  background: rgb(0, 155, 249);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 249, 1) 0%,
    rgba(119, 209, 255, 1) 50%,
    rgba(52, 255, 0, 1) 100%
  );
}

.cold-to-warm {
  background: rgb(119, 209, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 209, 255, 1) 0%,
    rgba(86, 232, 169, 1) 50%,
    rgba(52, 255, 0, 1) 100%
  );
}

.cold-to-very-warm {
  background: rgb(119, 209, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 209, 255, 1) 0%,
    rgba(94, 226, 185, 1) 25%,
    rgba(52, 255, 0, 1) 50%,
    rgba(223, 245, 0, 1) 75%,
    rgba(255, 239, 0, 1) 100%
  );
}

.warm-to-hot {
  background: rgb(52, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(52, 255, 0, 1) 0%,
    rgba(241, 228, 35, 1) 50%,
    rgba(255, 48, 48, 1) 100%
  );
}

.warm-to-very-warm {
  background: rgb(52, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(52, 255, 0, 1) 0%,
    rgba(203, 255, 38, 1) 50%,
    rgba(255, 235, 0, 1) 100%
  );
}

.very-warm-to-hot {
  background: rgb(241, 228, 35);
  background: linear-gradient(
    90deg,
    rgba(241, 228, 35, 1) 0%,
    rgba(255, 48, 48, 1) 100%
  );
}

.loading-screen.active {
  display: block;
}

.loading-screen {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

.loading-screen > div {
  height: 100px;
  width: 100px;
  border: 15px solid grey;
  border-top-color: lightgray;
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
